[pyrogram]
api_id = [DATA EXPUNGED]
api_hash = [DATA EXPUNGED]

[proxy]
enabled = False
hostname = 127.0.0.1
port = 1080

[plugins]
root = plugins
include =
    handlers.commands
    handlers.callbacks

[custom]
token = [DATA EXPUNGED]
creator_id = [DATA EXPUNGED]
main_group_id = [DATA EXPUNGED]
exchange_id = [DATA EXPUNGED]
prefix = /!！
update_to = USER WATCHER
update_type = reload
reload_path = [DATA EXPUNGED]
